/*Archivo Main*/
/*abstracts*/
/* vendors */
body, * {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: black;
}

header {
  padding-left: 100px;
  padding-top: 15px;
  font-weight: 700;
  padding-bottom: 20px;
}

hr{
  border: 1px solid rgb(88, 86, 86);

}
img {
  border-radius: 1em
}

h2{
  font-weight: 700;
}

.card-title {
  font-weight: 400;
}

.text__span {
  font-weight: 500;
}
#logo {
  border-radius: 50%;
}

.main__container_general1{
  height: 500px;
  width: 1300px;
  /*background-color: aqua;*/
  margin-left: 100px;
  display: flex;
  
}
 /*div1 novedades*/

.container_novedades1 {
  height: 400px;
  width: 700px;
}

.card_novedades1{

  padding-top: 20px;
  padding-left: 50px;
}


.main__container_novedades2{
  height: 500px;
  width: 500px;

  padding-left: 30px;
  padding-top: 30px;
  display: flex;
}

.novedades2_card-img-top {
  display: inline-block;
  object-fit: cover;
}

.novedades2_card-body {
  display: inline-block;
  padding-left: 10px;
  padding-top: 20px;
}

/*div2 populares*/


.main__container_general2 {
  height: 800px;
  width: 1300px;
  /*background-color: chartreuse;*/
  margin-left: 100px;
  
}

.container_populares {
  height: 600px;
  width: 700px;
  /*background-color: brown;*/
  float: left;
  display: block;
  
}

.card_populares{
  margin-left: 50px;
  margin-top: 50px;
  float: left;
}

.card-img-top_populares {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

/*categorias*/

.main__container_categorias {
  float: left;
  height: 500px;
  width: 500px;
  margin-left: 100px;
  /*background-color: burlywood;*/
  display: block;
}

.categoria_posts {
  margin-top: 50px;
}
.categoria_posts1 {
  width: 350px;
  height: 80px;
  background-color: #E93E30;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 1em;
  
}
.categoria_posts2 {
  width: 350px;
  height: 80px;
  background-color:#F7E018;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 1em;
  
}
.categoria_posts3 {
  width: 350px;
  height: 80px;
  background-color: #299ED5;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 1em;
  
}
.categoria_posts4 {
  width: 350px;
  height: 80px;
  background-color: #292C33;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 1em;
  
}
.categoria_posts5 {
  width: 350px;
  height: 80px;
  background-color: #67C770;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 1em;
  
}
.categoria_posts6 {
  width: 350px;
  height: 80px;
  background-color: #563D7C;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 1em;
  
}
#categoria__img {
  width: 50px;
  margin-top: 10px;
  margin-left: 20px;
}

#categoria__span {
  color: antiquewhite;
  font-weight: 700;
  font-size: 30px;
  vertical-align: super;
}
.categorias_text{
  margin-top: 20px;
  text-align: center;
}
/*footer*/
footer{
  margin-left: 100px;
  margin-bottom: 30px;
  font-weight: 700;
  color: beige;
}
.footer__text1 {
  margin-top: 30px;
  margin-right: 30px
}
.footer__text2 {
  margin-top: 30px;
  margin-right: 180px;
  float: right;


}


/*# sour300ceMappingURL=style.css.map 